:root {
  /* color */
  --color-black: #010101;
  --color-white: #fefefe;
  --color-dark-grey: #777;
  --color-light-grey: #efefef;
  --color-blue: #3b88c3;
  --color-pink: #fd7f84;
  --color-yellow: #fbbe28;
  --success-color: #2ecc71;
  --error-color: #e74c3c;

  /* size */
  --base-space: 10px;
  --head-font: 20px;
  --midi-font: 14px;
  --small-font: 11px;

  /*padding*/
  --padding-list: 10px;
}


h2 {
  text-align: center;
  /* margin: 0 0 20px; */
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}
.upperarea {
  position: fixed;
  margin: 0px;
  display: block;
  width: 100%;
}
.navbar {
  background-color: var(--color-yellow);
  padding-top: var(--padding-list);
  padding-bottom: var(--padding-list);
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.navbar > .headName {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  vertical-align: middle;
  line-height: 43px;
}
.searchBar {

  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
}

.navbar > .searchBar input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--color-pink);
  font-size: 16px;
  background-color: #ffffff;
  background-image: url("../icon/search.svg") ;
  background-size: 20px 20px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding: 15px 20px 12px 40px;
  outline: none;
}

.navbar > .addBtn {
  background-color: transparent;
  background-image: url("../icon/adduser.svg") ;
  background-repeat: no-repeat;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 20px;
  margin-top: 10px;
}



.formControl {
  /* background-color: #e74c3c; */
  margin-bottom: var(--base-space);
  padding-bottom: calc(var(--base-space) * 2);
  position: relative;
}

.formControl label {
  color: var(--color-dark-grey);
  display: block;
  margin-bottom: calc(var(--base-space) / 2);
}

.formControl input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: var(--base-space);
  font-size: var(--midi-font);
}

.formControl input:focus {
  outline: 0;
  border-color: var(--color-light-grey);
}

.formControl.success input {
  border-color: var(--success-color);
}

.formControl.error input {
  border-color: var(--error-color);
}

.formControl small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.formControl.error small {
  visibility: visible;
}

.modalBody button {
  cursor: pointer;
  background-color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 4px;
  color: var(--color-white);
  font-size: var(--midi-font);
  padding: var(--base-space);
  margin-top: calc(var(--base-space) * 2);
  width: 100%;
}

.modalBody .deleteBtn {
  background-color: var(--error-color);
  border: 2px solid var(--error-color);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Body */
.modalBody {
  padding: 30px 40px;
}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modalHeader {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* List */

#personListWrapper {
  padding-top: 64px;
  padding-bottom: var(--padding-list);
  display: flex;
  flex-direction: column;
}



.chosungElement {
  margin-top: 10px;
  background-color: var(--color-blue);
  padding-top: calc(var(--padding-list) / 1.2);
  padding-bottom: calc(var(--padding-list) / 1.2);
  padding-left: calc(var(--padding-list) * 2);
  color: var(--color-white);
}

.personInfo {
  padding-top: var(--padding-list);
  padding-bottom: var(--padding-list);
  display: flex;
  flex-direction: column;
}

.personInfo .name {
  padding-left: var(--padding-list);
  padding-top: var(--padding-list);
  vertical-align: middle;
  cursor: pointer;
}

.detailInfo {
  padding-top: var(--padding-list);
  padding-left: calc(var(--padding-list)*2);
  font-family: "Noto Sans", sans-serif;
  display: none;
}
.detailInfo .title {
  padding-left: var(--padding-list);
  padding-top: var(--padding-list);
  justify-content: center;
  align-items: center;
  
}

.detailInfo .title img {
  vertical-align: middle;
}

.actionButtons {
  width: 100%;
  padding-top: var(--padding-list);
  display: flex;
  justify-content:space-around;
}



/* .actionButtons .favoriteBtn,
.actionButtons .deleteBtn,
.actionButtons .editBtn {
  background-color: var(--color-light-grey);
  border: 1px var(--color-light-grey);
  padding: 8px 8px;
  border-radius: 6px;
} */

